@page "/courses"

@using Blazorise
@using SEIIApp.Shared.DomainDTOs

@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="text-center">
    <h3>Courses</h3>
</div>

<TextEdit Placeholder="Experience current Level: 25/100" ReadOnly="true" class="text-center" />
<Progress>
    <ProgressBar Background="Background.Success" Value="25" Animated=true />
    <ProgressBar Background="Background.Dark" Value="75" Animated=true />
</Progress>

<br />

@if (courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (CourseDto course in courses)
    {
        <p class="text-center">
            <Button Color="Color.Light" Clicked="@(() => SelectCourse(course.CourseId))">
                <h4>@course.Title</h4>
                @course.Description
            </Button>
        </p>
        <br />
    }
}

@code {
    private CourseDto[] courses;

    protected override async Task OnInitializedAsync()
    {
        courses = await Http.GetFromJsonAsync<CourseDto[]>("api/Courses");
    }

    private void SelectCourse(int courseId)
    {
        string uri = $"/courses/{courseId}";
        NavigationManager.NavigateTo(uri);
    }
}