@page "/profile"
@page "/profile/{StudentId:int}"

@using Blazorise
@using SEIIApp.Shared.DomainDTOs

@inject HttpClient Http
@inject NavigationManager NavigationManager


<div class="text-center">
    <h3>Profile</h3>
</div>

<Container Fluid="true">
    <Alert Color="Color.Primary" Visible="true">
        <TextEdit Placeholder="Level 2" ReadOnly="true" class="text-center" />
    </Alert>
</Container>


<TextEdit Placeholder="Experience current Level: 25/100" ReadOnly="true" class="text-center" />
<Progress>
    <ProgressBar Background="Background.Success" Value="25" Animated=true />
    <ProgressBar Background="Background.Dark" Value="75" Animated=true />
</Progress>




<Container Fluid="true">
    <div class="avatarContainer">
        <div style="        top: 0px;
        left: 0px;
        width: 0px;
        height: 0px;
        z-index: 3">
            <img src="/images/avatar.png" />
        </div>
        @if (glasses)
        {
            <div style="        top: 100px;
        left: 0px;
        width: 0px;
        height: 0px;
        z-index: 3">
                <img src="/images/glasses.png" />
            </div>
        }
        @if (hat)
        {
            <div style="        top: -100px;
        left: 0px;
        width: 0px;
        height: 0px;
        z-index: 3">
                <img src="/images/hat.png" />
            </div>
        }
        @if (mask)
        {
            <div style="        top: 150px;
        left: -50px;
        width: 0px;
        height: 0px;
        z-index: 3">
                <img src="/images/mask.png" />
            </div>
        }

    </div>
</Container>







<Container Fluid="true">
    <Row>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center" Clicked="@Glassesclicked">
                <img src="/images/glasses.svg" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center" Clicked="@Hatclicked">
                <img src="/images/hat.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center" Clicked="@Maskclicked">
                <img src="/images/mask.png" width="60" />
            </Button>
        </Column>
    </Row>
</Container>


@code{
    [Parameter]
    public int StudentId { get; set; }

    public bool glasses = false;
    public bool hat = false;
    public bool mask = false;

    public StudentDto student;

    protected override async Task OnInitializedAsync()
    {
        student = await Http.GetFromJsonAsync<StudentDto>("api/Students/");


    }

    void Glassesclicked()
    {
        if (!glasses)
        {
            glasses = true;
        }
        else if (glasses)
        {
            glasses = false;
        }
    }

    void Hatclicked()
    {
        if (!hat)
        {
            hat = true;
        }
        else if (hat)
        {
            hat = false;
        }
    }

    void Maskclicked()
    {
        if (!mask)
        {
            mask = true;
        }
        else if (mask)
        {
            mask = false;
        }
    }
}

<style>
    .avatarContainer {
        width: 300px;
        height: 420px;
        position: relative
    }

        .avatarContainer div {
            position: absolute
        }
</style>

