@page "/profile"

@using Blazorise


<div class="text-center">
    <h3>Profile</h3>
</div>

<Container Fluid="true">
    <Alert Color="Color.Primary" Visible="true">
        <TextEdit Placeholder="Level 2" ReadOnly="true" class="text-center" />
    </Alert>
</Container>


<TextEdit Placeholder="Experience current Level: 25/100" ReadOnly="true" class="text-center" />
<Progress>
    <ProgressBar Background="Background.Success" Value="25" Animated=true />
    <ProgressBar Background="Background.Dark" Value="75" Animated=true />
</Progress>

<div class="text-center">
    <Figure Size="FigureSize.Is512x512" class="text-center">
        <FigureImage Source=@picturePath AlternateText="256x256" class="text-center" />
    </Figure>
</div>




<Container Fluid="true">
    <Row>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center" Clicked="@OnButtonClicked">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <button class="btn btn-default">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <button class="btn btn-default">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" class="text-center">
            <Button class="text-center">
                <img src="https://opengameart.org/sites/default/files/styles/medium/public/axe2.png" width="60" />
            </Button>
        </Column>
    </Row>
</Container>



@code{

    string picturePath = "/images/91-512.png";
    int temp = 0;

    void OnButtonClicked()
    {
        Console.WriteLine("Hello world!");

        ChangePicture();
    }


    void ChangePicture()
    {

        if (temp == 0)
        {
            picturePath = "/images/91-512 - Kopie.png";
            temp = 2;
            Console.WriteLine(temp);
        }
        else if (temp == 2)
        {
            picturePath = "/images/91-512.png";
            temp = 0;
            Console.WriteLine(temp);
        }
    }
}

