/* Shared style */

* {
    font-family: Helvetica Neue;
    font-weight: bold;
    color: #333;
}

/* Profile specific style */

.avatarContainer {
    width: 300px;
    height: 450px;
    position: relative;
    overflow: visible
}

    .avatarContainer div {
        width: auto;
        height: auto;
        position: absolute;
        overflow: visible;
        object-fit: cover;
    }


/* Quiz specific style */

.startQuizButton {
    color: #333;
    background: lightblue;
    border: black;
    width: 300px;
    height: 75px;
    border-radius: 12px;
}

    .startQuizButton:focus {
        outline: 0;
    }


.answerTable {
    width: 70%;
    max-height: 70px;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: white;
}


.unselected {
    color: white;
    background: grey;
    border: black;
    width: 100%;
    height: 100%;
    min-height: 50px;
    border-radius: 12px;
}

    .unselected:focus {
        outline: 0;
    }


.selected {
    color: white;
    background: blue;
    border: black;
    width: 100%;
    height: 100%;
    min-height: 50px;
    border-radius: 12px;
}

    .selected:focus {
        outline: 0;
    }


.correctAnswer {
    color: black;
    background: lightgreen;
    opacity: 0.8;
    border: black;
    width: 100%;
    height: 100%;
    min-height: 50px;
    border-radius: 12px;
}

    .correctAnswer:focus {
        outline: 0;
    }


.wrongAnswer {
    color: white;
    background: red;
    opacity: 0.8;
    border: black;
    width: 100%;
    height: 100%;
    min-height: 50px;
    border-radius: 12px;
}

    .wrongAnswer:focus {
        outline: 0;
    }


.correctAnswerWouldHaveBeen {
    color: black;
    background: lightgreen;
    opacity: 0.8;
    border: black;
    width: 100%;
    height: 100%;
    min-height: 50px;
    border-radius: 12px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

    .correctAnswerWouldHaveBeen:focus {
        outline: 0;
    }


@keyframes blink {
    0% {
        color: white;
        background: grey;
        opacity: 1.0;
    }

    50% {
        color: black;
        background: lightgreen;
        opacity: 0.8;
    }

    100% {
        color: white;
        background: grey;
        opacity: 1.0;
    }
}


.checkReady {
    color: white;
    background: lightgreen;
    border: black;
    width: 100px;
    height: 50px;
    border-radius: 12px;
}

    .checkReady:focus {
        outline: 0;
    }


.checkNotReady {
    color: white;
    background: lightgrey;
    border: black;
    width: 100px;
    height: 50px;
    border-radius: 12px;
}

    .checkNotReady:focus {
        outline: 0;
    }


.checkCorrect {
    color: white;
    background: green;
    border: black;
    width: 200px;
    height: 50px;
    border-radius: 12px;
}

    .checkCorrect:focus {
        outline: 0;
    }


.checkIncorrect {
    color: white;
    background: red;
    border: black;
    width: 200px;
    height: 50px;
    border-radius: 12px;
}

    .checkIncorrect:focus {
        outline: 0;
    }


.ExpInvisible {
    visibility: hidden;
}

.ExpVisible {
    color: green;
    visibility: visible;
}


.answer-list {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr, 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 500px;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.answer-list-item {
    background-color: white;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.answer-list-content {
    width: 100%;
}



.accordion-correction > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.accordion-correction .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
    text-align: left;
}

.accordion-correction > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}

.accordion-correction label {
    display: block;
    text-align: left;
}

.accordion-correction {
    margin-bottom: 1em;
}

    .accordion-correction > input[type="checkbox"]:checked ~ .content {
        padding: 15px;
        border: 1px solid #e8e8e8;
        border-top: 0;
    }

    .accordion-correction .handle {
        margin: 0;
        font-size: 1.125em;
        line-height: 1.2em;
    }

    .accordion-correction label {
        color: #333;
        cursor: pointer;
        font-weight: normal;
        padding: 15px;
        background: #e8e8e8;
    }

        .accordion-correction label:hover,
        .accordion-correction label:focus {
            background: #d8d8d8;
        }

    .accordion-correction .handle label:before {
        font-family: "Font Awesome 5 Free";
        content: '\f054';
        font-weight: bold;
        font-size: 22px;
        display: inline-block;
        margin-right: 10px;
        font-size: .58em;
        line-height: 1.556em;
        vertical-align: middle;
    }

    .accordion-correction > input[type="checkbox"]:checked ~ .handle label:before {
        content: "\f078";
    }


.accordion-correction {
    max-width: 65em;
}

    .accordion-correction p:last-child {
        margin-bottom: 0;
    }



.pCorrection {
    text-align: left;
    margin: 0 0 1em;
    font-weight: normal;
}


.levelUpAlert {
    background-color: lightgreen;
    max-width: 75%;
    border-radius: 16px;
    animation-name: alert;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border: hidden;
    outline: 0;
}

@keyframes alert {
    0% {
        background-color: lightgreen;
    }

    17% {
        background-color: yellow;
    }

    34% {
        background-color: orange;
    }

    50% {
        background-color: lightgreen;
    }

    67% {
        background-color: yellow;
    }

    84% {
        background-color: orange;
    }

    100% {
        background-color: lightgreen;
    }
}

.levelUpHeader {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.levelUpText {
    font-size: 18px;
    font-weight: bold;
    color: black;
}




/* Lesson specific style */

.accordion-video > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.accordion-video .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
    text-align: left;
}

.accordion-video > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}

.accordion-video label {
    display: block;
    text-align: left;
}

.accordion-video {
    margin-bottom: 1em;
}

    .accordion-video > input[type="checkbox"]:checked ~ .content {
        padding: 15px;
        border: 1px solid #e8e8e8;
        border-top: 0;
    }

    .accordion-video .handle {
        margin: 0;
        font-size: 1.125em;
        line-height: 1.2em;
    }

    .accordion-video label {
        cursor: pointer;
        font-family: Helvetica Neue;
        font-weight: 500;
        font-size: 20px;
        padding: 15px;
        text-align: center;
        background-color: #6C767D;
        color: white;
        border-radius: 4px;
    }

        .accordion-video label:hover,
        .accordion-video label:focus {
            background-color: #596368;
        }

    .accordion-video .handle label:before {
        font-family: "Font Awesome 5 Free";
        content: '\f054';
        font-weight: bold;
        font-size: 22px;
        display: inline-block;
        margin-right: 10px;
        font-size: .58em;
        line-height: 1.556em;
        vertical-align: middle;
    }

    .accordion-video > input[type="checkbox"]:checked ~ .handle label:before {
        content: "\f078";
    }




    .accordion-video p:last-child {
        margin-bottom: 0;
    }
