@page "/header"

 <div class="header">
     <div class="header-left">
         <a href="#menu">Menu</a>
     </div>
     <a class="logo" href="/">
         <img src="/images/jimmaNeo.png" />
     </a>
     <div class="header-right">
         <a href="/profile">Profile</a>
     </div>
</div> 
