.header {
    overflow: hidden;
    background-color: #6FD431;
    padding: 10px;
}

.header a {
    color: white;
    padding: 12px;
}

.header a.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
}

.header-right {
    float: right;
}

.header-left {
    float: left;
}

.header a.active {
    background-color: #aefa9a;
}

.header a:hover {
    background-color: #aefa9a;
}