@page "/header"

<div class="header">
    <div class="header-left">
        <a href="#" onclick="goBack()">
             <img src="/images/backbuttoncircle.png"/>
        </a>
    </div>
    <div class="header-right">
        <a href="/profile">
             <img src="/images/profileicon.png"/>
        </a>
    </div>
    <a class="logo" href="/">
        <img src="/images/jimmaNeo.png" />
    </a>
</div> 
