@page "/header"

 <div class="header">
     <div class="header-left">
         <a href="#menu">Menu</a>
     </div>
     <a href="#home" class="logo">JimmaNeo</a>
     <div class="header-right">
         <a href="#profile">Profile</a>
     </div>
</div> 
